body{
    background-color:white;
    cursor: pointer;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-body{
    height: 750px;
    background-color: rgb(236, 235, 235);
    width: 900px;
    margin-left:20%;
    margin-top: 20px;
    border:1px rgb(182, 178, 178) ridge ;
}
.header{
    width: 590px;
    text-align: centre;
    padding:30px 0px 30px 310px;
    background-color: rgb(226, 223, 223);
    border-bottom: 1px rgb(182, 178, 178) ridge;
    position: sticky;
}
.divider{
    margin-top: 25px;
    border-top: 1px rgb(182, 178, 178) ridge ;
}
.addtodo{
    margin-top: 5px;
    margin-bottom: 5px;
}
.inputf{
    margin-left: 180px;;
}
.compt{
    margin-left: 200px;
}
.complete-before{
    border:1px rgb(182, 178, 178) ridge;
    outline-offset: 0ch;
    outline : none;
    border-radius: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width:160px;
    height: 40px;
    margin-left:10px ;
}
.date{
    float:right ;
    margin-top: 8px;
    margin-right: 5px;
}
.add{
    border:1px rgb(182, 178, 178) ridge;
    outline-offset: 0ch;
    outline : none;
    border-radius: 6px;
    width:400px;
    height: 40px;
    margin-left:10px ;
}
.comptd{
    float: right;
    margin-top: 8px;
    margin-right: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}
.add:focus{
    border: 1px rgb(90, 189, 255) ridge;
    box-shadow: 0 0 5px  rgb(90, 189, 255) ;
}
.addtask{
    width: 50px;
    height: 30px;
    border-radius: 6px;
    border-width: 0;
    margin-top: -10px;
    padding-top: -10px;
    outline: none;
    outline-offset: none;
    background-color: rgb(54, 54, 241);
    color: white;
}
.addtask:hover{
    background-color:rgb(16, 16, 143);
    transition: linear 0.1s;
}
.tasks{
    font-size: 20px;
    height: 500px;
    overflow-y: scroll;
    scrollbar-width: none;
}
.tasks::-webkit-scrollbar{
    display:none;
}
.task{
    padding-left: 10px;
    padding-bottom: 6px;
    border-bottom: 1px rgb(182, 178, 178) ridge;
}
.star{
    float: right;
    margin-right: 6px;
    margin-top: 2px;
    border: none;
    outline-offset: none;
    outline: none;
    background-color: rgb(236,235,235);
    font-size: 20px;
}
.edit{
    float:right;
    height: 30px;
    margin-right: 10px;
    border:none;
    font-size: 25px;
    outline: none;
    background-color: rgb(236, 235, 235);
    outline-offset: none;
    margin-top: 0px;
    outline-offset: none;
    color: black;
}
.ok{
    float: right;
    background-color: rgb(62, 137, 235);
    color:whitesmoke;
    margin-top: 1px;
    margin-right: 6px;
    border: none;
    outline-offset: none;
    outline: none;
    height: 30px;
}
.remove{
    font-size: 20px;
    color: green;
    background-color: rgb(236, 235, 235);
    float:right;
    margin-top: 1px;
    border: none;
    outline: none;
    outline-offset: none;
    height: 30px;
    color: green;
    margin-right: 10px;
}
.remove:hover, .edit:hover, .star:hover{
    background-color:white;
}
.remove:active, .edit:active, .star:active{
    background-color:rgb(160, 152, 152);
    transition: linear 0.2s;
}
.imp{
    margin-left: 5px;
    margin-right: 5px;
}