body{
    background-color:white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-body{
    height: 750px;
    background-color: rgb(236, 235, 235);
    width: 520px;
    margin-left:30%;
    margin-top: 20px;
    border: 1px black ridge;
}
.header{
    width: 400px;
    text-align: centre;
    padding:30px 0px 30px 120px;
    background-color: rgb(226, 223, 223);
    border-bottom: 1px rgb(182, 178, 178) ridge;
    position: sticky;
}
.divider{
    margin-top: 25px;
    border-top: 1px rgb(182, 178, 178) ridge ;
}
.addtodo{
    margin-left: 220px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.add{
    border-style: inset;
    border-width: 1px;
    outline-offset: 0ch;
    outline : none;
    border-radius: 6px;
    width:400px;
    height: 40px;
    margin-left:10px ;
}
.addtask{
    width: 80px;
    height: 42px;
    border-radius: 6px;
    border-width: 0;
    outline: none;
    outline-offset: none;
    background-color: rgb(54, 54, 241);
    color: white;
}
.addtask:hover{
    background-color:rgb(16, 16, 143);
    transition: linear 0.1s;
}
.tasks{
    font-size: 20px;
    height: 500px;
    overflow: hidden;
}
#task{
    padding-left: 10px;
    padding-bottom: 6px;
    border-bottom: 1px rgb(182, 178, 178) ridge;
}
#edit, #remove{
    float:right;
    margin-top: 6px;
    height: 20px;
    margin-right: 10px;
}
